figure {
	overflow: hidden;
}

figure img {
	transition: all ease 0.5s; /* "ease" en lugar de "easy" */
}

figure img:hover {
	transform: scale(1.1); /* "scale" en lugar de "scale" y falta el prefijo "transform" */
	
}

